$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../../fonts" !default;

$icon-down-arrow: "\e907";
$icon-profile: "\e900";
$icon-play: "\e901";
$icon-key: "\e902";
$icon-checkmark: "\ea10";
$icon-instagram: "\e903";
$icon-twitter: "\e904";
$icon-youtube: "\e905";

